body{background-color:dodgerblue;
     text-align:center;
     font-size:3em}
div{padding:2em}
input{font-size:1em;
      background-color:lightblue;
      width:5em}
span{background-color:lightblue;
     padding:0.1em}
